<template>
    <div id="admin-panel">
      <vue-scroll :ops="ops" >
        <!-- menu lateral -->
        <aside class="aside-menu" :class="{'extended': extended}">
          <div class="user">
            <span class="text size-md">Admin</span>
          </div>
          <div class="menu">
            <a href="" class="text size-md menu-link">
              <span class="">Productos</span>
              <i class="mdi mdi-menu-down text size-md bold"></i>
            </a>
            <a href="" class="text size-md menu-link">
              <span>Clientes</span>
              <i class="mdi mdi-menu-down text size-md bold"></i>
            </a>
            <a href="" class="text size-md menu-link">
              <span>Direcciones</span>
              <i class="mdi mdi-menu-down text size-md bold"></i>
            </a>
            <a href="" class="text size-md menu-link">
              <span>Países</span>
              <i class="mdi mdi-menu-down text size-md bold"></i>
            </a>
            <a href="" class="text size-md menu-link">
              <span>Métodos de pago</span>
              <i class="mdi mdi-menu-down text size-md bold"></i>
            </a>
          </div>
        </aside>
        <div class="content" :class="{'extended': extended}">
          <div class="header">
            <div class="header-title">
              <a class="menu-button text size-l gray" @click="openMenu">
                <i class="mdi mdi-filter-variant"></i>
              </a>
              <span class="text size-md gray bold menu-link">
                Productos
              </span>
            </div>
            <div class="filters">
              <a class="btn-crud text size-l gray" @click="activeForms('new')">
                <i class="mdi mdi-plus-circle-outline"></i>
              </a>
            </div>
          </div>
          <div class="body">
            <!-- Formulario nuevo producto -->
            <div class="form" v-if="typeForm == 'new' && activeForm == true">
              <div class="form-control">
                <div class="input-container">
                  <input type="text" class="input-text" v-model="product.ref" id="product-ref" placeholder="Referencia" >
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="product.name" id="product-name" placeholder="Nombre del producto">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="product.category" placeholder="Cagtegoria">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="product.type" placeholder="Tipo">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="product.date" id="product-date" placeholder="Fecha">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="product.stock" id="product-stock" placeholder="Unidades en Stock">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="product.sizes" id="product-sizes" placeholder="Tallas">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="product.prices" id="product-prices" placeholder="Precio">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="product.avariable" placeholder="Disponibilidad(si o no)">
                </div>
                <div class="button">
                    <button type="button" class="btn" @click="create">
                      <i class="mdi mdi-cloud-upload"></i>
                      Crear
                    </button>
                </div>
              </div>

            </div>
            <!-- Formulario editar producto -->
            <div class="form editMode" :class="{'openEditMode': extendedEditMode}">
              <div class="form-control">
                <div class="input-container">
                  <input type="text" class="input-text" v-model="productSelectEdit.ref" id="product-ref" :placeholder="productSelectEdit.ref" >
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="productSelectEdit.name" id="product-name" :placeholder="productSelectEdit.name">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="productSelectEdit.catedory" :placeholder="productSelectEdit.category">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="productSelectEdit.type" :placeholder="productSelectEdit.type">

                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="productSelectEdit.date" id="product-date" :placeholder="productSelectEdit.date">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="productSelectEdit.stock" id="product-stock" :placeholder="productSelectEdit.date">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="productSelectEdit.sizes" id="product-sizes" :placeholder="productSelectEdit.sizes">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="productSelectEdit.prices" id="product-prices" :placeholder="productSelectEdit.prices">
                </div>
                <div class="input-container">
                  <input type="text" class="input-text" v-model="productSelectEdit.avariable" :placeholder="productSelectEdit.avariable">
                </div>
                <div class="button">
                    <button type="button" class="btn" @click="edit(productSelectEdit)">
                      <i class="mdi mdi-cloud-upload"></i>
                      Editar
                    </button>
                </div>
              </div>

            </div>
            <!-- Lista de productos -->
            <listItems :module="'product'" :elements="products" :extendedEditMode="extendedEditMode" v-if="products" @saveEditID="openEditMode" @savedeleteID="removeMode"></listItems>

          </div>

        </div>
      </vue-scroll>
    </div>
</template>
<script>
    import ListItems from './Modules/ListItems'
    import NewForm from './Modules/NewForm'
    import EditForm from './Modules/EditForm'
    import Multiselect from 'vue-multiselect';
    export default {
      components: {
        ListItems,
        NewForm,
        EditForm,
        Multiselect
      },
      data(){
          return{
              extended: false,
              extendedEditMode: false,
              activeForm: false,
              typeForm: false,
              ops:{
                  vBar:{
                      background: '#234052',
                      opacity:1,
                  },
                  vRail:{
                      pos:'right',
                      width:'3px'
                  },
              },
              valueCategory: null,
              valueType: null,
              categoryLabel: null,
              valueAvariable: null,
              typeLabel: null,
              deselectGroupLabel: '',
              // Formulario creacion
              products: [],
              product: {
                ref: '',
                name: '',
                category: '',
                type: '',
                date: '',
                stock: '',
                sizes: '',
                prices: '',
                avariable: '',
              },
              // formulario edicion
              productSelectEdit: false,
              options: {
                  category:[
                      {options: 'Mujer', code: 'M' },
                      {options: 'Hombre', code: 'M' },
                  ],
                  types:[
                      {options: 'Zapatilla', code: 'zapatilla' },
                      {options: 'Cuñas', code: 'cunyas' },
                      {options: 'Deportivas', code: 'deportivas' },
                      {options: 'Botines', code: 'botines' },
                      {options: 'Bailarinas', code: 'Bailarinas' },
                  ],
                  avariable: [
                    {options: 'Si', code: 'yes' },
                    {options: 'No', code: 'no' },
                  ]
              }
          }
      },
      methods: {
        openMenu(){
            if (this.extended) {
              this.extended = false;
            } else {
              this.extended = true;
            }
        },
        activeForms(type){
          if (type == 'new') {
            console.log('new');
            this.activeForm = true;
            this.typeForm = 'new';
          } else {
            console.log('edit');
            this.activeForm = true;
            this.typeForm = 'edit';
          }
        },
        customLabel (option) {
          return `${option.options}`
        },
        fetchData(){
          axios.get('/api/products')
            .then((res) => {
              this.products = res.data
            })
            .catch((error) => {
              console.log(err);
            })
        },
        create() {
          axios.post('/api/products', this.product)

            .then((response) => {
              console.log(response);
              this.products.unshift(response.data)
              this.product.ref = ''
              this.product.name = ''
              this.product.category = ''
              this.product.type = ''
              this.product.date = ''
              this.product.stock = ''
              this.product.sizes = ''
              this.product.prices = ''
              this.product.avariable = ''
            })
            .catch((error) => {
              console.log(error.response);
            })
            console.log(this.products);
        },

        openEditMode(product){
          if (product != '') {
            if (this.extendedEditMode == false) {
              this.extendedEditMode = true;
              this.productSelectEdit = product;
              console.log(product);
            } else {
              this.extendedEditMode = false;
              this.productSelectEdit = false;
            }
          }
        },
        edit(product){
          let idProduct = this.productSelectEdit.id;
          axios.put(`/api/products/${product.id}`, {
            ref: product.ref,
            name: product.name,
            category: product.category,
            type: product.type,
            date: product.date,
            stock: product.stock,
            sizes: product.sizes,
            prices: product.prices,
            avariable: product.avariable

          })
            .then((res) => {
              console.log('update');
            })
            .catch((err) => {
              console.log(err);
            })
        },
        removeMode(product){
          let idProduct = product.id;
          console.log(product.id);
          axios.delete(`/api/products/${idProduct}`)
            .then((res) => {
              const productIndex = this.products.indexOf(product)
              this.products.splice(productIndex, 1)
            })
            .catch((err) => {
              console.log(err);
            })
        }
      },
      mounted() {
        this.fetchData();
        console.log(this.products);
      }
    }

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
    @import '~@/app.scss';
    #admin-panel{
      width: 100%;
      height: 100%;
    }
    .vuescroll-content{
        width: 100% !important;
        height: 100%;
        display: flex;
    }
    .aside-menu{
      width: 20%;
      height: 100%;
      background: $gray;
      padding: 10px;
      position: absolute;
      left: -100%;
      transition: all .3s linear;
      &.extended{
        left: 0;
      }
      .user{
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        border-bottom: 1px solid $lightGray2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .image{
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-bottom: 20px;
        }
      }
      .menu{
        width: 100%;
        height: auto;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        .menu-link{
          width: 100%;
          display: flex;
          justify-content: space-between;
          span{
            width: 90%;
          }
        }
      }
    }
    .content{
      width: 100%;
      height: 100%;
      padding: 10px;
      transition: all .3s linear;
      &.extended{
        width: 80%;
          margin-left: 20%;
      }
      .header{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray;
        .header-title{
          width: 30%;
          height: 100%;
          display: flex;
          align-items: center;
          .menu-button{
            margin-right: 10px;
          }
          a{
            display: flex;
            align-items: center;
            span{
              height: 100%;
            }
          }
        }
        .filters{
          width: 70%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
      .body{
        width: 100%;
        height: calc(100% - 40px);
        padding: 10px 0;
        position: relative;
      }
    }
    .form{
      width: 100%;
      height: auto;
      padding-bottom: 10px;
      padding: 10px;
      border-bottom: 1px solid $lightGray2;
      display: flex;
      align-items: center;
      &.editMode{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $white;
        border-radius: 4px;
        box-shadow: 0px 0px 5px rgba($black,.6);
        overflow: hidden;
        border-radius: 10px;
        display: none;
        &.openEditMode{
          display: flex;
        }
      }
      .form-control{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .input-container{
          width: calc(20% - 5px);
          height: 25px;
          margin-bottom: 5px;
          input{
            height: 100%;
            border-radius: 5px;
            background: $white;
            border: 1px solid #e8e8e8;
          }
        }
      }
      .button{
        width: calc(20% - 5px);
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .mdi{
            margin-right: 10px;
          }
        }
      }

    }

</style>
