<template>
    <div id="login">
      <vue-scroll :ops="ops" >
        <div class="side-left">
          <div class="filter-black">
            <div class="logo">
              <img src="/images/logo.png" alt="logo">
            </div>
            <div class="description">
              <p class="text size-md">
                En el año 2017, Black Clover nace como un pequeño proyecto de venta de ropa online.
                Tras varios meses en el mercado, el proyecto comienza a crecer a pasos agigantados y Black Clover pasa a ser un referente a nivel nacional en cuanto a pronto moda y ecommerce, afianzándose como MARCA.
              </p>
            </div>
          </div>
        </div>
        <div class="login-content">
          <div class="header">
            <span class="text size-xl bold main"> Registrar</span>
            <span class="text size-l secondary"> / Login</span>
          </div>
          <div class="body">
            <!-- regiter link -->
            <div class="form-content">
              <span class="text size-xl main">Necesitamos...</span>
              <div class="input-control">
                <div class="icon">
                    <i class="mdi mdi-emoticon-happy text size-sm secondary"></i>
                </div>
                 <input type="text" class="input-text" id="user-name" placeholder="Nombre">
              </div>
              <div class="input-control">
                <div class="icon">
                    <i class="mdi mdi-email text size-sm secondary"></i>
                </div>
                <input type="email" class="input-text" id="user-email-register" placeholder="Correo electrónico">
              </div>
              <div class="input-control">
                <div class="icon">
                    <i class="mdi mdi-lock-reset text size-sm secondary"></i>
                </div>
                <input type="password" class="input-text" id="user-password-register" placeholder="Contraseña">
              </div>
              <div class="input-control">
                <div class="icon">
                    <i class="mdi mdi-lock-reset text size-sm secondary"></i>
                </div>
                <input type="password" class="input-text" id="user-passwordConfirm"  placeholder="Repita contraseña">
              </div>
              <div class="input-control">
                <button type="submit" id="register" class="btn">
                  <span class="text size-sm">Registrarse</span>
                </button>
              </div>
            </div>

            <!-- Login form -->
            <div class="form-content">
              <span class="text size-xl main">o puedes entrar</span>
              <div class="input-control">
                <div class="icon">
                    <i class="mdi mdi-email text size-sm secondary"></i>
                </div>
                <input type="email" class="input-text" id="user-email"  placeholder="Correo electrónico">
              </div>
              <div class="input-control">
                <div class="icon">
                    <i class="mdi mdi-lock-reset text size-sm secondary"></i>
                </div>
                <input type="password" class="input-text" id="user-password" placeholder="Contraseña">
              </div>
              <div class="input-control">
                <input class="checkbox" type="checkbox" id="autoSizingCheck2">
               <label class="form-check-label" for="autoSizingCheck2">
                 <span class="text size-sm secondary">Recuerdame</span>
               </label>
              </div>
              <div class="input-control">
                <a href="" class="text size-sm secondary">¿has olvidado la contraseña?</a>
              </div>
              <div class="input-control">
                <button type="submit" id="login"class="btn" @click="login">
                  <span class="text size-sm">Entrar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </vue-scroll>
    </div>
</template>
<script>
    export default {
      data(){
          return{
              ops:{
                  vBar:{
                      background: '#234052',
                      opacity:1,
                  },
                  vRail:{
                      pos:'right',
                      width:'3px'
                  },
              },
          }
      },
      methods: {
        login: function() {
          var email = $("#user-email").val();
          var password = $("#user-password").val();
          if( email =='' || password ==''){
            console.log('Rellene todos los campos, por favor');
          }else {
            $.post("Login.php",{ email1: email, password1:password},
            function(data) {
              if(data=='Invalid Email.......') {
                console.log('Email incorrecto');
              }else if(data=='Email or Password is wrong...!!!!'){
                console.log('Email o contraseña incorrecto');
              } else if(data=='Successfully Logged in...'){
                $("form")[0].reset();
                console.log('Entrando');
              } else{
                console.log('Algo ha ocurrido');
              }
            });
          }
        },
      }
    }
</script>
<style lang="scss">
    @import '~@/app.scss';
    .vuescroll-content{
        width: 100% !important;
        height: 100%;
        display: flex;
    }
    #login{
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      .side-left{
        width: 45%;
        height: 100%;
        background-image: url('/images/new-york-city.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        @media only screen and (min-device-width: $ipad-vertical) and (max-device-width: $ipad-horizontal) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        @media only screen and (max-width: $ipad-vertical){
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        .filter-black{
          width: 100%;
          height: 100%;
          background: $background;
          opacity: .8;
          display: flex;
          flex-direction: column;
          justify-content: center;
          @media only screen and (min-device-width: $ipad-vertical) and (max-device-width: $ipad-horizontal) {
            justify-content: flex-start;
          }
          @media only screen and (max-width: $ipad-vertical){
            justify-content: flex-start;
          }
        }
        .logo{
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          @media only screen and (max-width: $ipad-vertical){
            height: 80px;
          }
          img{
            width: 305px;
            height: auto;
            @media only screen and (max-width: $ipad-vertical){
              width: auto;
              height: 100%;
            }
          }
        }
        .description{
          width: 100%;
          height: 30%;
          padding: 0 10%;
          text-align: justify;
          @media only screen and (max-width: $ipad-vertical){
            width: auto;
            height: 100px;
          }
        }
      }
      .login-content{
        width: 55%;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (min-device-width: $ipad-vertical) and (max-device-width: $ipad-horizontal) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          background: $white;
          border-radius: 10px;
          width: 85%;
          height: auto;
        }
        @media only screen and (max-width: $ipad-vertical){
          position: absolute;
          top: 77%;
          left: 50%;
          transform: translate(-50%,-70%);
          background: $white;
          border-radius: 10px;
          width: 85%;
          height: 70%;
        }
        .header{
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 10px;
          .text:first-child{
            margin-left: 5px;
          }
        }
        .body{
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          @media only screen and (max-width: $ipad-vertical){
            flex-direction: column;
          }
          .form-content{
            width: calc(50% - 5px);
            height: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            @media only screen and (max-width: $ipad-vertical){
              width: 100%;
            }
            .input-control{
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 10px 0;
              width: 100%;
              height: 30px;

              .icon{
                width: 20px;
                height: 20px;
                padding: 5px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $lightGray2;
                margin-right: 10px;
                border-radius: 50%;
              }
              .input-text{
                width: 80%;
                height: 100%;
              }
              .checkbox{
                width: 5%;
              }
            }
            &:first-child{
              padding-right: 5px;
              border-right: 1px solid $lightGray;
              @media only screen and (max-width: $ipad-vertical){
                padding-right: 0;
                border-right: 0;
              }
            }
            &:last-child{
              padding-left: 5px;
            }
          }
        }
        .footer{
          width: 100%;
          height: 20%;
        }
      }
    }

</style>
