.loader-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  background-color: #161C20;
}

.loader-container.modalLoaded {
  background: #2B2E37;
  width: 60%;
  height: 80%;
}

ul,
li,
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

a:hover,
a:focus {
  color: #29898D;
}

.elipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.box {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 80px;
}

.box.box-dest {
  background: #24272F;
}

.box .box-dest {
  background: #24272F;
}

.text {
  color: #fff;
}

.text.secondary {
  color: #A2A2A2;
}

.text.main {
  color: #29898D;
}

.text.red {
  color: #b33939;
}

.text.gray {
  color: #474C5A;
}

.text.green {
  color: #15474A;
}

.text.size-xl {
  font-size: 1.8rem;
}

.text.size-l {
  font-size: 1.5rem;
}

.text.size-md {
  font-size: 1.2rem;
}

.text.size-sm {
  font-size: 1rem;
}

.text.size-xs {
  font-size: .6rem;
}

.text.bold {
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'San Francisco';
}

html {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Raleway", serif;
}

@media (max-width: 1024px) {
  html {
    font-size: 10px;
  }
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  position: relative;
}

#login {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#login .side-left {
  width: 45%;
  height: 100%;
  background-image: url("/images/new-york-city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #login .side-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #login .side-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

#login .side-left .filter-black {
  width: 100%;
  height: 100%;
  background: #161C20;
  opacity: .8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #login .side-left .filter-black {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 768px) {
  #login .side-left .filter-black {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#login .side-left .logo {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  #login .side-left .logo {
    height: 80px;
  }
}

#login .side-left .logo img {
  width: 305px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  #login .side-left .logo img {
    width: auto;
    height: 100%;
  }
}

#login .side-left .description {
  width: 100%;
  height: 30%;
  padding: 0 10%;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  #login .side-left .description {
    width: auto;
    height: 100px;
  }
}

#login .login-content {
  width: 55%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #login .login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    width: 85%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  #login .login-content {
    position: absolute;
    top: 7%;
    left: 50%;
    -webkit-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
    background: #fff;
    border-radius: 10px;
    width: 85%;
    height: 70%;
  }
}

#login .login-content .header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

#login .login-content .header .text:first-child {
  margin-left: 5px;
}

#login .login-content .body {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  #login .login-content .body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#login .login-content .body .form-content {
  width: calc(50% - 5px);
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
  #login .login-content .body .form-content {
    width: 100%;
  }
}

#login .login-content .body .form-content .input-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  width: 100%;
  height: 30px;
}

#login .login-content .body .form-content .input-control .icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
  margin-right: 10px;
  border-radius: 50%;
}

#login .login-content .body .form-content .input-control .input-text {
  width: 80%;
  height: 100%;
}

#login .login-content .body .form-content .input-control .checkbox {
  width: 5%;
}

#login .login-content .body .form-content:first-child {
  padding-right: 5px;
  border-right: 1px solid #808080;
}

@media only screen and (max-width: 768px) {
  #login .login-content .body .form-content:first-child {
    padding-right: 0;
    border-right: 0;
  }
}

#login .login-content .body .form-content:last-child {
  padding-left: 5px;
}

#login .login-content .footer {
  width: 100%;
  height: 20%;
}

.container {
  width: 100%;
  height: 100%;
}

.btn {
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-style: none;
  color: #fff;
  background: #29898D;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 20px;
  padding: 5px;
}

.btn:hover {
  background: #000;
}

.btn:focus,
.btn:active {
  outline: none;
}

input {
  width: 100%;
  background: #F2F2F2;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-style: none;
  border-radius: 20px;
  padding: 5px;
}

