@import "colors";

$ipad-vertical: 768px;
$ipad-horizontal: 1024px;
$desktop: 1224px;
$desktop-large:  1824px;
$large-tablet: 991px;
$medium-tablet: 767px;
$phone: 600px;

$gray: #474C5A;
$lightGray2: #F2F2F2;

//commons
.loader-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
  background-color: $background;
  &.modalLoaded{
    background: $box;
    width: 60%;
    height: 80%;
  }
}
ul,li, a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}
a {
  cursor: pointer;
  &:hover,&:focus{
    color: $main;
  }
}
.elipsis{
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}
.box{
  background: $white;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba($black,.6);
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 80px;
  &.box-dest{
    background: $box-dest;
  }
  .box-dest{
    background: $box-dest;
  }
}
// text
.text{
  color: $white;
  &.secondary{
    color: $text-gray;
  }
  &.main{
    color: $main;
  }
  &.red{
    color: $red;
  }
  &.gray{
    color: $gray;
  }
  &.green{
    color: $bg-green;
  }
  &.size-xl{
    font-size: 1.8rem;
  }
  &.size-l{
    font-size: 1.5rem;
  }
  &.size-md{
    font-size: 1.2rem;
  }
  &.size-sm{
    font-size: 1rem;
  }
  &.size-xs{
    font-size: .6rem;
  }
  &.bold{
    font-weight: 700;
  }
}


//estructura
* {
    box-sizing: border-box;
    font-family: 'San Francisco';
}

html{
    height: 100%;
    width: 100%;
    font-size:14px;
    font-family: "Raleway", serif;

    @media(max-width:1024px){
      font-size:10px;
    }
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $white;
    position: relative;
}
#login{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  .side-left{
    width: 45%;
    height: 100%;
    background-image: url('/images/new-york-city.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @media only screen and (min-device-width: $ipad-vertical) and (max-device-width: $ipad-horizontal) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    @media only screen and (max-width: $ipad-vertical){
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .filter-black{
      width: 100%;
      height: 100%;
      background: $background;
      opacity: .8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media only screen and (min-device-width: $ipad-vertical) and (max-device-width: $ipad-horizontal) {
        justify-content: flex-start;
      }
      @media only screen and (max-width: $ipad-vertical){
        justify-content: flex-start;
      }
    }
    .logo{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: $ipad-vertical){
        height: 80px;
      }
      img{
        width: 305px;
        height: auto;
        @media only screen and (max-width: $ipad-vertical){
          width: auto;
          height: 100%;
        }
      }
    }
    .description{
      width: 100%;
      height: 30%;
      padding: 0 10%;
      text-align: justify;
      @media only screen and (max-width: $ipad-vertical){
        width: auto;
        height: 100px;
      }
    }
  }
  .login-content{
    width: 55%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (min-device-width: $ipad-vertical) and (max-device-width: $ipad-horizontal) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: $white;
      border-radius: 10px;
      width: 85%;
      height: auto;
    }
    @media only screen and (max-width: $ipad-vertical){
      position: absolute;
      top: 7%;
      left: 50%;
      transform: translate(-50%,-70%);
      background: $white;
      border-radius: 10px;
      width: 85%;
      height: 70%;
    }
    .header{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      .text:first-child{
        margin-left: 5px;
      }
    }
    .body{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      @media only screen and (max-width: $ipad-vertical){
        flex-direction: column;
      }
      .form-content{
        width: calc(50% - 5px);
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media only screen and (max-width: $ipad-vertical){
          width: 100%;
        }
        .input-control{
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px 0;
          width: 100%;
          height: 30px;

          .icon{
            width: 20px;
            height: 20px;
            padding: 5px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $lightGray2;
            margin-right: 10px;
            border-radius: 50%;
          }
          .input-text{
            width: 80%;
            height: 100%;
          }
          .checkbox{
            width: 5%;
          }
        }
        &:first-child{
          padding-right: 5px;
          border-right: 1px solid $lightGray;
          @media only screen and (max-width: $ipad-vertical){
            padding-right: 0;
            border-right: 0;
          }
        }
        &:last-child{
          padding-left: 5px;
        }
      }
    }
    .footer{
      width: 100%;
      height: 20%;
    }
  }
}
.container{
  width: 100%;
  height: 100%;
  // padding: 10px;
}
.btn{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    color: $white;
    background: $main;
    text-decoration: none;
    box-shadow: none;
    border-radius: 20px;
    padding: 5px;
    &:hover{
      background: $black;
    }
    &:focus,&:active{
      outline: none;
    }
}
input{
  width: 100%;
  background: $lightGray2;
  text-decoration: none;
  box-shadow: none;
  border-style: none;
  border-radius: 20px;
  padding: 5px;
}
