$white:#fff;
$black: #000;
$line: #0D0704;

// Projects stats
$warming: #F0BF3B;
$success: #81CB8C;
$danger: #FF5959;
$orange: #b16431;
$red: #b33939;

$background: #161C20;
$box: #2B2E37;
$box-dest: #24272F;
$main: #29898D;
// text colors

$text-gray: #A2A2A2;
$lightGray: #808080;

// Chart colors

$chart-gray: #474C5A;
$chart-dark: #2B2E37;
$chart-black: #24272F;
$chart-green: #29898D;
$white-line: #F2F2F2;
  // colors gradient
// chart-green
$violet: #464474;
$blue: #4cc9ff;
//Timeline
$bg-green: #15474A;

$user-bg: mix($chart-black,$background);
