<template>
    <div class="container">
      <div class="header-list">
        <div class="section" :class="module">
          <span class="text size-sm gray">REF</span>
        </div>
        <div class="section" :class="module">
          <span class="text size-sm gray">Nombre</span>
        </div>
        <div class="section" :class="module">
          <span class="text size-sm gray">Categoría</span>
        </div>
        <div class="section" :class="module">
          <span class="text size-sm gray">Tipo</span>
        </div>
        <div class="section" :class="module">
          <span class="text size-sm gray">Fecha creación</span>
        </div>
        <div class="section" :class="module">
          <span class="text size-sm gray">Stock</span>
        </div>
        <div class="section" :class="module">
          <span class="text size-sm gray">Tallas</span>
        </div>
        <div class="section" :class="module">
          <span class="text size-sm gray">Precio</span>
        </div>
        <div class="section" :class="module">
          <span class="text size-sm gray">Disponible</span>
        </div>
        <div class="section" :class="module"></div>
      </div>
      <div class="list">
        <!-- Producto -->
        <div class="box" v-for="product in elements" :key="product.id">
          <div class="section" :class="module">
            <span class="text size-md gray">{{product.ref}}</span>
          </div>
          <div class="section" :class="module">
            <span class="text size-md gray">{{product.name}}</span>
          </div>
          <div class="section" :class="module">
            <span class="text size-md gray">{{product.category}}</span>
          </div>
          <div class="section" :class="module">
            <span class="text size-md gray">{{product.type}}</span>
          </div>
          <div class="section" :class="module">
            <span class="text size-md gray">{{product.date}}</span>
          </div>
          <div class="section" :class="module">
            <span class="text size-md gray">{{product.stock}}</span>
          </div>
          <div class="section" :class="module">
            <span class="text size-md gray">{{product.sizes}}</span>
          </div>
          <div class="section" :class="module">
            <span class="text size-md gray">{{product.prices}} €</span>
          </div>
          <div class="section" :class="module">
            <i class="mdi mdi-checkbox-marked-circle-outline text size-l main" v-if="product.avariable == 'si'"></i>
            <i class="mdi mdi-close-circle-outline text size-l red" v-else></i>
          </div>
          <div class="section" :class="module">
            <i class="mdi mdi-pencil text size-l lightGray" @click="editMode(product)"></i>
            <i class="mdi mdi-delete text size-l lightGray" @click="deleteMode(product)"></i>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
    import Product from './Product'
    export default {
      props: ['module','elements','extendedEditMode'],
      components: {
        Product
      },
      data(){
          return{

          }
      },
      methods: {
        editMode(product){
          this.$emit('saveEditID', product);
        },
        deleteMode(product){
          this.$emit('savedeleteID', product);
        },
      },
      watch:{
        products(n,o){
          console.log(this.products);
        }
      },
    }
</script>
<style lang="scss">
    @import '~@/app.scss';
    .header-list{
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .section{
        display: flex;
        justify-content: center;
        align-items: center;
        &.product{
          width: calc(10% - 40px);
          height: 100%;
          &:last-child{
            width: 60px;
            height: 100%;
          }
        }
      }
    }
    .list{
      width: 100%;
      height: calc(100% - 50px);
      .box{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      .section{
        &.product{
          width: calc(10% - 40px);
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          &:last-child{
            width: 60px;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            .mdi{
              &.lightGray{
                color: $lightGray;
              }
              &:hover{
                color: $main;
                cursor: pointer;
              }
            }
          }
          img{
            width: 100%;
          }
        }
      }
    }
</style>
