<template>
    <div class="form">
      <div class="form-control">
        <div class="input-container">
          <input type="text" class="input-text" id="product-ref" placeholder="Referencia">
        </div>
        <div class="input-container">
          <input type="text" class="input-text" id="product-name" placeholder="Nombre del producto">
        </div>
        <div class="input-container">
          <multiselect
            v-model="valueCategory"
            :searchable="false"
            :options="options.category"
            :multiple="false"
            track-by="code"
            :custom-label="customLabel"
            placeholder="seleccione categoría"
            >
          </multiselect>
        </div>
        <div class="input-container">
          <multiselect
            v-model="valueType"
            :searchable="false"
            :options="options.types"
            :multiple="false"
            track-by="code"
            :custom-label="customLabel"
            placeholder="seleccione tipo de producto"
            >
          </multiselect>
        </div>
        <div class="input-container">
          <input type="text" class="input-text" id="product-date" placeholder="Fecha">
        </div>
        <div class="input-container">
          <input type="text" class="input-text" id="product-stock" placeholder="Unidades en Stock">
        </div>
        <div class="input-container">
          <input type="text" class="input-text" id="product-sizes" placeholder="Tallas">
        </div>
        <div class="input-container">
          <input type="text" class="input-text" id="product-prices" placeholder="Precio">
        </div>
        <div class="input-container">
          <multiselect
            v-model="valueAvariable"
            :searchable="false"
            :options="options.avariable"
            :multiple="false"
            track-by="code"
            :custom-label="customLabel"
            placeholder="seleccione disponibilidad"
            >
          </multiselect>
        </div>
        <div class="input-container">
          <input type="text" class="input-text" id="product-url" placeholder="Imagen del producto">
        </div>
      </div>
      <div class="button">
          <button type="button" class="btn">
            <i class="mdi mdi-cloud-upload"></i>
            Crear
          </button>
      </div>
    </div>

</template>
<script>
  import Multiselect from 'vue-multiselect';
    export default {
      props: [''],
      components: {
          Multiselect
      },
      data(){
          return{
              expanded: '',
              valueCategory: null,
              valueType: null,
              categoryLabel: null,
              valueAvariable: null,
              typeLabel: null,
              deselectGroupLabel: '',
              products: [],
              options: {
                  category:[
                      {options: 'Mujer', code: 'M' },
                      {options: 'Hombre', code: 'M' },
                  ],
                  types:[
                      {options: 'Zapatilla', code: 'zapatilla' },
                      {options: 'Cuñas', code: 'cunyas' },
                      {options: 'Deportivas', code: 'deportivas' },
                      {options: 'Botines', code: 'botines' },
                      {options: 'Bailarinas', code: 'Bailarinas' },
                  ],
                  avariable: [
                    {options: 'Si', code: 'yes' },
                    {options: 'No', code: 'no' },
                  ]
              }
          }
      },
      methods: {
        customLabel (option) {
          return `${option.options}`
        },
        fetchData(){
          axios.get('/api/tasks')
            .then((res) => {
              this.products = res.data
            })
            .cach((error) => {
              console.log('error');
            })
        }
      },
      mounted(){
        this.fetchData();
      }
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
    @import '~@/app.scss';
    .form{
      width: 100%;
      height: auto;
      padding-bottom: 10px;
      padding: 10px;
      border-bottom: 1px solid $lightGray2;
      display: flex;
      align-items: center;
      .form-control{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .input-container{
          width: calc(20% - 5px);
          height: auto;
          margin-bottom: 5px;
          input{
            height: 100%;
            border-radius: 5px;
            background: $white;
            border: 1px solid #e8e8e8;
          }
        }
        .multiselect{
          .multiselect__input, .multiselect__single{
            font-size: 1rem;
          }
        }
      }
      .button{
        width: 10%;
        padding: 10px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .btn{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }

    }
</style>
