<template>
  <div class="box">
    <div class="section" :class="module">
      
    </div>
  </div>
</template>
<script>
    export default {
      props: ['module','product'],
      data(){
          return{
          }
      },
      methods: {
      }
    }
</script>
<style lang="scss">
    @import '~@/app.scss';
    .header-list{
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .section{
        &.product{
          width: 10%;
          height: 100%;
        }
      }
    }
</style>
