<template>
    <div class="box">
      
    </div>
</template>
<script>
    export default {
      data(){
          return{
          }
      },
      methods: {
      }
    }
</script>
<style lang="scss">
    @import '~@/app.scss';

</style>
